/*************************************************** 
    UTILITIES
****************************************************/

/********************* 
    BACKGROUND COLORS
**********************/
.bg-aquamarine {
    background-color: #7FFFD4;
}

.bg-lightcoral {
    background-color: lightcoral;
    transition: all .2s ease-in-out;
}

/********************* 
    TEXT
**********************/

/********************* 
    CONTAINERS
**********************/